<div class="album py-5 bg-light">
  <div class="container">
    <%= source_helper("alert alert-warning") %>
    <% if logged_in?(:site_admin) %>
      <p><%= link_to 'Create New Portfolio', new_portfolio_path %></p>
    <% end %>
    <div class="row" id="items" data-controller="<%= 'drag' if logged_in?(:site_admin) %>">
      <%= render partial: "portfolio_item", collection: @portfolio_items %>
    </div>
  </div>
</div>