
  <nav class="navbar navbar-light d-flex justify-content-between blog-nav">
    <div class="nav-action">
      <h3><%= link_to "Samuel Atobatele", root_path, class: "blog-links" %></h3>
    </div>
    <div class="nav-menu">
      <%= nav_helper "span", "blog-links h5" %>
      <span><%= login_helper "p-4 blog-links mr-4 h5" %></span>
    </div>
  </nav>
