    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">After several years working as an engineer in the manufaturing industry, 
              I decided it was time to pursue a long-held goal of becoming a developer.
              Here you will find some of the projects I have done in my exciting journey in the world of tech!</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Explore</h4>
              <ul class="list-unstyled">
                <%= nav_helper "li", "text-white" %>
                <li><%= login_helper "text-white" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <%= link_to "Samuel Atobatele", root_path, class: "navbar-brand d-flex align-items-center" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>