<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "download.png", width: 280, height: 350, alt: "Profile picture" %>
  </div>

  <div class="col-md-8">
    
    <p>Experienced Field Service Engineer with a demonstrated history of working in the food processing, packaging and manufacturing industry. As I'm very passionate about learning new things, I acquired many skills which helped me have a successful and rewarding career. After 12 years of working in the manufacturing and food industry, I decided it was time for a career change to tech. The change was borne out of my strong love for computer and coding.</p>

    <p>To deepen my technical knowledge of the web and realize my goal of becoming a web developer, I enrolled in Full Stack Web Development program at Le Wagon Berlin where I recently graduated. I must admit that I am really happy to see what this coding bootcamp has brought me: new hard & soft skills, a better approach for technical projects, new encounters and an even stronger passion for digital!

    I'm open to opportunities to work as a developer. I'm ready to put my newly acquired skills to use by building apps as side projects. Stay tuned! </p>
  </div>
</div>

